{
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "React": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "rules": {
        "semi": 2
    },

    "plugins": [
        "react"
    ]
}
