.auth-monash-logo {
    width: 260px;
    height: 35px;
}
.authcate-side-hero {
    height: 100%;
    background-color: #1c5198;
}
.authcate-sidebar {
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.input-authcate {
    margin-bottom: 15px;
}
.btn-sign-up {
    margin-top: 30px;
    background-color: #2672ec;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.btn-sign-up:hover {
    color: #FAFAFA;
}
.authcate-container {
    height: 100vh;
    min-height: 100%;
}
.text-link-colored {
    color: #2672ec;
}
