body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.App {
    text-align: center;
}

.app-header {
    text-align:left;
    background-color: #006cab;
    padding: 2px;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 30px;
}
.App-intro {
    font-size: large;
}

.buttonContainer{
    margin-top: 30px;
}
.center-button{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 30px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    float:right;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.searchItem{
    float: inherit;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.background-colored {
  background-color: #1c5198;
}
.h-match-parent {
  height: 100%;
}
.w-match-parent {
  width: 100%;
}
.padding-sm {
  padding: 5px;
}
.padding-md {
  padding: 10px;
}
.padding-lg {
  padding: 15px;
}
.margin-sm {
  margin: 5px;
}
.margin-md {
  margin: 10px;
}
.margin-lg {
  margin: 15px;
}
.padding-md-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-md-h {
  padding-right: 30px;
  padding-left: 30px;
}
.padding-sm {
  padding: 5px;
}
.padding-md {
  padding: 10px;
}
.padding-lg {
  padding: 15px;
}
.margin-sm {
  margin: 5px;
}
.margin-md {
  margin: 10px;
}
.margin-lg {
  margin: 15px;
}
.padding-md-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-md-h {
  padding-right: 30px;
  padding-left: 30px;
}

.card-3 {
    box-shadow: 0 2px 15px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}

@media (max-width: 767px) {
    #mainContainer {
      margin-left: 0px;
      margin-right: 0px;
    }

    #pollPopup {
      margin-top: 30px;
    }
}
